src/main/mule/travis.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="347b9b1f-e62e-4ff6-a9cf-7dab2c82f66a" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<flow name="travisFlow" doc:id="3b386aef-3456-4c21-a8f7-82dba77693f9" >
		<http:listener doc:name="Listener" doc:id="5413a530-a7d1-47d7-8a51-e04ccf4a9348" config-ref="HTTP_Listener_config" path="/travis"/>
		<set-payload value='#["Congrats, deplo using Travis"]' doc:name="Set Payload" doc:id="2ee996c5-0644-453f-97f3-f24c5e430e72" />
	</flow>
</mule>
